<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item>
      <ion-textarea [readonly]="true" label="Alumno" placeholder="Gonzalo Gonzalito Gonzalez"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [readonly]="true" label="Alumno" placeholder="Alexis Sanchez Simio"></ion-textarea> 
    </ion-item>
    <ion-item>
      <ion-button class="custom-button" (click)="volver()">Volver</ion-button>
    </ion-item>
  </div>
</ion-content>
